body {

    background: black;
    font-family: 'Lobster', cursive;
}

.container {

    margin: 0 auto;
    background: white;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid gray;
  -webkit-text-fill-color: gray
  
}

div {

    min-height: 20px;
    width: 400px;
}

.inputext {

    margin-left: 30px;
}


h1 {
    color:crimson;
    width: 200px;
}

p  {
 margin-top: 0px;
}
.buttonc {

  margin-left: 9pc;
 
}

#toprow {
    border: 1px transparent;
    display: flex;
    height: 7pc;

}

#logo{
    border: 1px transparent;
    margin-top: 1%;
    margin-left: 100px;
}

#post{
    border: 1px transparent;
    padding-left: 10px;

}

#middlerow {
    border: 1px transparent;
    display: flex;
    height: 8pc;

}

.bottomrow {
    border: 1px transparent;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-bottom: 30px
}
#middlerow > div {
    border: 1px transparent;
}

#textmrow {

    padding-left: 10px;
}